<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body style="padding-top: 80px">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card"   id="hd">
    <div class="card  text-white text-center" id="fh1">NEW DISCOUNT</div>

</div>
<div class="container-fluid" id="frm">
    <div class="row"><div class="col-md-10"></div>
        <div class="col-sm-2"> <a href="/discount">
            <button class="btn btn-primary mt-1 "  id="bta"> <i class="fa fa-list"></i>&nbsp; Discount List</button>
        </a></div></div>
    <form action="/discount/save" data-th-object="${discount}" method="post">
        <!--discount id-->
        <div class="form-row text-right" data-th-if="${addStatus==false}">
            <div class="col-md-4">
                <label data-th-for="${id}">Id</label>
            </div>
            <div class="col-md-4">

                    <input class="form-control" data-th-field="*{id}" readonly type="text">

            </div>
        </div>
        <!-- discountName-->
        <div class="form-row ">
            <div class="col-md-4 text-right">
                <label class="control-label" data-th-for="${discountName}">Discount Name :</label>
            </div>
            <label class="col-md-4">

                    <input class="form-control" data-th-field="*{discountName}" required tabindex="4" type="text"/>

                <span data-th-errors="*{discountName}"
                      data-th-if="${#fields.hasErrors('discountName')}">Error Name</span>
            </label>
        </div>
        <!--discountType-->
        <div class="form-row ">
            <div class="col-md-4 text-right">
                <label class="control-label" data-th-for="${discountType}">discount Type :</label>
            </div>
            <label class="col-md-4">
                <input class="form-control" data-th-field="*{discountType}" required tabindex="4" type="text"/>
                <span data-th-errors="*{discountType}"
                      data-th-if="${#fields.hasErrors('discountType')}">Error Name</span>
            </label>
        </div>
        <!--discountAmount-->
        <div class="form-row ">
            <div class="col-md-4 text-right">
                <label class="control-label" data-th-for="${discountAmount}">discount Amount :</label>
            </div>
            <label class="col-md-4">
                <input class="form-control" data-th-field="*{discountAmount}" required tabindex="4" type="text"/>
                <span data-th-errors="*{discountAmount}"
                      data-th-if="${#fields.hasErrors('discountAmount')}">Error Name</span>
            </label>
        </div>
        <!--approvedBy-->
        <div class="form-row ">
            <div class="col-md-4 text-right">
                <label class="control-label" data-th-for="${approvedBy}">approved By :</label>
            </div>
            <label class="col-md-4">
                <input class="form-control" data-th-field="*{approvedBy}" required tabindex="4" type="text"/>
                <span data-th-errors="*{approvedBy}"
                      data-th-if="${#fields.hasErrors('approvedBy')}">Error Name</span>
            </label>
        </div>
        <!--discountStatus-->
        <div class="form-row ">
            <div class="col-md-4 text-right">
                <label class="control-label" data-th-for="${discountStatus}">discount Status</label>
            </div>
            <label class="col-md-4">
                <input class="form-control" data-th-field="*{discountStatus}" required tabindex="4" type="text"/>
                <span data-th-errors="*{discountStatus}"
                      data-th-if="${#fields.hasErrors('discountStatus')}">Error Name</span>
            </label>
        </div>

        <!--Button-->
        <div class="form-discount col-md-12 col-sm-12 text-center flex-column ">
            <button class="btn btn-success" tabindex="21" type="submit" id="bts">
                <i class="fa fa-save " style="font-size: 20px"></i>&nbsp; &nbsp;<span
                    data-th-text="${addStatus==true?'Save': 'Update'}"
                    id="submit"></span>
            </button>
            <button class="btn btn-danger mt-4 ml-lg-5 mb-lg-4 " type="reset" id="btr"><i class="fa fa-refresh" style="font-size: 20px"></i> reset</button>
        </div>
    </form>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>