<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body style="padding-top: 80px">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card"   id="hd">
    <div class="card  text-white text-center" id="fh1">NEW DISCOUNT</div>

</div>

<div class="container-fluid" id="frm">
   <div class="row"><div class="col-md-10"></div>
    <div class="col-sm-2"> <a href="/discount/new">
        <button class="btn btn-primary mt-1 "  id="bta">  Create Discount</button>
    </a></div></div>
    <table class="table table-hover table-inverse table-responsive-sm table-dark text-center" id="myTable">
        <thead class="thead-inverse">
        <tr>
            <th>Index</th>
            <th>Discount Name</th>
            <th>Discount type</th>
            <th>Amount</th>
            <th>Approved by</th>
            <th>Status</th>
            <th>Modify</th>

        </tr>
        </thead>
        <tbody>
        <tr data-th-each="discount, index : ${discounts }">
            <td data-th-text="${index.count}"></td>
            <td data-th-text="${discount.discountName}"></td>
            <td data-th-text="${discount.discountType}"></td>
            <td data-th-text="${discount.discountAmount}"></td>
            <td data-th-text="${discount.approvedBy}"></td>
            <td data-th-text="${discount.discountStatus}"></td>


            <td>
                <a data-th-href="${'/discount/view/'+ discount.id}"><button class="btn btn-info">View</button></a>
                <a data-th-href="${'/discount/edit/'+ discount.id}"><button class="btn btn-success">Edit</button></a>
                <a data-th-href="${'/discount/delete/'+ discount.id}"><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>