<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body style="padding-top: 80px;" >
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card"   id="hd">
    <div class="card  text-white text-center" id="fh1">NEW SUBJECT</div>

</div>
<div class="container-fluid" id="frm">
    <div class="row"><div class="col-md-10"></div>
   <div class="col-sm-2"> <a href="/subject">
        <button class="btn btn-primary mt-1 "  id="bta"> <i class="fa fa-list"></i>&nbsp; Subject List</button>
    </a></div></div>

    <form action="/subject/save" data-th-object="${subject}" method="post" style="text-align: center" class="mt-4">
        <!--subject id-->
        <div class="form-row text-right clearfix " data-th-if="${addStatus==false}" >

            <div class="col-md-4 col-sm-6 float-sm-left" >
                <label data-th-for="${id}" class="control-label"><b>ID :</b></label>
            </div>

                <label class="col-md-4 col-sm-6">
                    <input class="form-control" data-th-field="*{id}" readonly type="text" >
                </label>

        </div>
        <!-- Name-->
        <div class="form-row text-right clearfix">
            <div class="col-md-4  col-sm-6 float-sm-left">
                <label class="control-label" data-th-for="${name}"><b>Name :</b></label>
            </div>
            <!--<div class="col-md-8">-->
                <label class="col-md-4  col-sm-6">
                    <input class="form-control" data-th-field="*{name}" required tabindex="4" type="text"/>
                </label>
                <span data-th-errors="*{name}"
                      data-th-if="${#fields.hasErrors('name')}">Error Name</span>
            <!--</div>-->
        </div>
        <!--Code-->
        <div class="form-row text-right clearfix">
            <div class=" col-md-4 col-sm-6 float-sm-left">
                <label class="control-label" data-th-for="${code}"><b>code :</b></label>
            </div>
            <!--<div class="col-md-8">-->
                <label class="col-md-4  col-sm-6"><input class="form-control" data-th-field="*{code}" required tabindex="4" type="text"/></label>
                <span data-th-errors="*{code}"
                      data-th-if="${#fields.hasErrors('code')}">Error Name</span>
            <!--</div>-->
        </div>

        <!--Button-->
        <div class="form-batch col-md-12 col-sm-10 text-center flex-column">
            <button class="btn btn-success" tabindex="21" type="submit" id="bts" >
                <i class="fa fa-save " style="font-size: 20px"></i>&nbsp; &nbsp;<span
                    data-th-text="${addStatus==true?'Save': 'Update'}"
                    id="submit"></span>
            </button>
            <button class="btn btn-danger mt-4 ml-lg-5 mb-lg-4 " type="reset" id="btr"><i class="fa fa-redo" style="font-size: 20px"></i>&nbsp;&nbsp; <span>Reset</span></button>
        </div>

    </form>

</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>