<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body style="padding-top: 80px;">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row " id="hd">
    <div class="col-4">

    </div>
    <div class="col-4">
        <h1 id="fh1">Subject Management <br> Subject Detail</h1>
    </div>
    <div class="col-4">

    </div>
</div>
<!--Subject detail-->
<div class="container-fluid" data-th-fragment="subjectDetail" id="frm" >
    <div class="row" ><div class="col-md-8"></div>

   <div class="col-sm-2">

<a href="/subject/new">
    <button class="btn btn-info mt-1 ml-5" id="bta">New Subject</button>
</a></div>
        <div class="col-sm-2">
    <a href="/subject">
        <button class="btn btn-primary mt-1" id="bta">All Subject</button>
    </a></div></div>

    <!--subject id-->
    <div class="form-batch row">
        <div class="col-md-4 text-right">
            <label data-th-for="${id}" ><b>Id:</b></label></div>
        <div class="col-md-4"><p class="form-control" data-th-text="${subjectDetail.id}" ></p></div>


    </div>
    <!--code-->
    <div class="form-batch row">
        <div class="col-md-4 text-right"><label data-th-for="${code}"><b>Code:</b></label></div>
        <div class="col-md-4"><p class="form-control" data-th-text="${subjectDetail.code}"></p></div>
    </div>
    <!--Name-->
    <div class="form-batch row">
        <div class="col-md-4  text-right">
            <label class="control-label" data-th-for="${name}" ><b>Name :</b></label>
        </div>
        <div class="col-md-4">
            <p class="form-control" data-th-text="${subjectDetail.name}" ></p></div>
        </div>
    </div>

</div>
<!--Button-->
<div class="form-batch col-md-12 col-sm-12 text-center flex-column ">
    <a href="/subject">
        <button class="btn btn-success" tabindex="21" type="submit" id="bts">
            Back
        </button>
    </a>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>