<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row" id="hd">
    <div class="col-md-4"></div>
    <div class="col-md-4"><H1 id="fh1">Hall Management<br>Add hall</H1></div>
    <div class="col-md-4"></div>
</div>
<div class="container-fluid">
<div class="row"><div class="col-md-10"></div>
    <div class="col-sm-2 mt-1" ><a href="/hall">
        <button class="btn btn-primary" id="bta">All Halls</button>
    </a>
    </div>
</div>

    <!--ID-->

        <form action="/hall/save" data-th-object="${hall}" method="post">
            <div class="form-row text-right"  data-th-if="${addStatus==false}">
                <div class="col-md-4">
                    <label class="label form-row text-right" data-th-for="${id}">Hall ID</label></div>
                <label class="col-md-8"><label>
                    <input class=" form-control"  data-th-field="*{id}"type="text" name="first_name">
                </label></label>

            </div>
            <!--hall number-->

            <div class="form-row text-right   ">
                <div class="col-md-4 col-sm-6">
                    <label class="control-label mt-1" data-th-for="${number}"><b>Hall Number :</b></label></div>


                <label class="col-md-4 col-sm-6">
                    <input class="form-control" data-th-field="*{number}" type="text" name="Hall Number">
                </label>
            </div>
            <!--Seat count-->
            <div class="form-row text-right   ">
                <div class="col-md-4 col-sm-6">
                    <label class="control-label  mt-1" data-th-for="${seatCount}"><b>Seat Count :</b></label>
                </div>
                <label class="col-md-4 col-sm-6">
                    <input class=" form-control"  data-th-field="*{seatCount}"type="text" name="first_name">
                </label>
            </div>
            <!--hall number-->
            <div class="form-row text-right   ">
                <div class="col-md-4 col-sm-6">
                    <label class="control-label  mt-1" data-th-for="${number}"><b>Hall Location :</b></label>
                </div>
                <label class="col-md-4 col-sm-6">
                    <input class=" form-control"  data-th-field="*{number}" type="text" name="Hall Number">
                </label>
            </div>
            <!--hall name-->
            <div class="form-row text-right   ">
                <div class="col-md-4 col-sm-6">
                    <label class="control-label  mt-1" data-th-for="${hallName}"><b>Hall Name :</b></label>
                </div>
                <label class="col-md-4 col-sm-6">
                    <input class= "form-control"  data-th-field="*{hallName}"type="text" name="first_name">
                </label>
            </div>



<!--subject-->
           <!--  <div class="form-row text-right ">
                 <div class="col-md-4 col-sm-6">
                     <label class=" control-label   mt-1"><b>Batch NO :</b></label>
                 </div>
               <div class="dropdown col-md-4 col-sm-6 ">
                   <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="width: 100%">
                       Choose Subject
                   </button>
                   <div class="dropdown-menu">
                       <a class="dropdown-item" href="#">Link 1</a>
                       <a class="dropdown-item" href="#">Link 2</a>
                   </div>
               </div>
             </div>-->
            <div class="form-batch col-md-12 col-sm-10 text-center flex-column " >
                <button class="btn btn-success " tabindex="21" type="submit" id="bts">
                    <i class="fa fa-save " style="font-size: 20px"></i>&nbsp; &nbsp;<span
                        data-th-text="${addStatus==true?'Save': 'Update'}"
                        id="submit"></span>
                </button>
                <button class="btn btn-danger mt-4 ml-lg-5 mb-lg-4 " type="reset" id="btr">reset</button>
            </div>




    </form>
    </div>
    </div>
<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>

</body>


<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>

</body>
</html>