<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row " id="hd">
    <div class="col-4">

    </div>
    <div class="col-4">
        <h1 id="fh1">Hall Management</h1>
    </div>
    <div class="col-4"></div>
</div>

<div class="container-fluid">
    <div class="row"><div class="col-md-10"></div>
        <div class="col-sm-2">
            <a href="/hall/new">
                <button class="btn btn-primary mt-1 " id="bta">New hall</button>
            </a></div></div>
    <table class="table table-dark table-hover  table-inverse table-responsive-sm text-center mt-3 " id="myTable">
        <thead class="thead-inverse">
        <tr>
            <th>Index</th>
            <th>Number</th>
            <th>Condition</th>
            <th>Seating Count</th>
            <th>Location</th>
            <th>Modify</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="hall, index : ${halls}">
            <td data-th-text="${index.count}"></td>
            <td data-th-text="${hall.number}"></td>
            <td data-th-text="${hall.hallCondition}"></td>
            <td data-th-text="${hall.seatCount}"></td>
            <td data-th-text="${hall.HallLocation}"></td>
            <td>
                <a data-th-href="${'/hall/view/'+ hall.id}"><button class="btn btn-info" style="width: 25%;border-radius: 12px;">View</button></a>
                <a data-th-href="${'/hall/edit/'+ hall.id}"><button class="btn btn-success" style="width: 25%;border-radius: 12px;">Edit</button></a>
                <a data-th-href="${'/hall/delete/'+ hall.id}"><button class="btn btn-danger" style="width: 25%;border-radius: 12px;">Delete</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>