<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card"   id="hd">
    <div class="card  text-white text-center" id="fh1"> HALL DETAILS</div>
</div>
<!--Hall detail-->
<div class="container-fluid" data-th-fragment="hallDetail" id="frm">
    <div class="row"><div class="col-md-8"></div>
        <div class="col-sm-2">
            <a href="/hall/new">
                <button class="btn btn-info mt-1 ml-5" id="bta">New Hall</button>
            </a></div>
        <div class="col-sm-2">
            <a href="/hall">
                <button class="btn btn-primary mt-1" id="bta"><i class="fa fa-list"></i>&nbsp; Hall List</button>
            </a></div></div>
    <!--hall id-->
    <div class="form-row mt-3" data-th-if="${addStatus==false}">
        <div class="col-md-4 text-right " >
       <label class="control-label" data-th-for="${id}">Id :</label></div>

     <div class="col-md-4" >  <p class="form-control" data-th-text="${hallDetail.id}" style="text-align:left;"></p>
     </div>
    </div>
    <!--number-->
    <div class="form-row">
        <div class="col-md-4 text-right">
        <label  class="control-label" data-th-for="${number}">Hall number :</label></div>
    <div class="col-md-4" >  <p class="form-control" data-th-text="${hallDetail.number}" style="text-align:left;"></p>
    </div>
    </div>
    <!--Condition-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label" data-th-for="${hallCondition}">Hall Condition :</label>
        </div>
        <div class="col-md-4">
            <p class="form-control" data-th-text="${hallDetail.hallCondition}" style="text-align:left;"></p>
        </div>
    </div>
    <!--Count-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label" data-th-for="${seatCount}">Seating count :</label>
        </div>
        <div class="col-md-4">
            <p class="form-control" data-th-text="${hallDetail.seatCount}" style="text-align:left;"></p>
        </div>
    </div>
</div>
<!--Button-->
<div class="form-batch col-md-12 col-sm-12 text-center flex-column ">
    <a href="/hall">
        <button class="btn btn-success" tabindex="21" type="submit" id="bts">
            Back
        </button>
    </a>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>
