<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<footer th:fragment="footerFragment" class="page-footer mt-5" >
    <div class="bg-transparent" >
    <div class="footer-copyright">
        <div class="container-fluid text-center text-info ">
   <p style="font-size: medium;text-shadow: none;align-content: center;">
                <strong>
                    <i>
                        <a href="#" target="_blank" style="color:black;">

                            &copy; &nbsp;<span id="currentYear"></span> &nbsp; Wasity Institute
                        </a>
                    </i>
                </strong>
            </p>
        </div>
    </div>
    </div>
</footer>

