<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head >
  <title >Spring boot</title >
</head >

<body >
<nav class="navbar navbar-expand-sm   fixed-top " th:fragment="navBarFragment" style="opacity: 0.9;background-color: #111111">
    <a class="navbar-brand" href="#">

        <img data-th-src="${'/img/logos/newlogo.jpg'}" alt="logo" class="" style="width:50px;height: 50px;">
    </a>
<div >
    <a href="#" class="previous round" style=" color: wheat;font-size:x-large;background-color: transparent;"><i class="fa fa-arrow-circle-left"></i></a>
    <a href="#" class="next round ml-3" style="color: wheat;font-size:x-large;"><i class="fa fa-arrow-circle-right"></i></a>
</div>


    <!--links-->
    <ul class="navbar-nav ml-4" >
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-home" style="color: white;"></i></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  href="#" data-toggle="dropdown" style="color: white;">
                General
            </a>
            <div class="dropdown-menu" >
                <a class="dropdown-item" href="#">link1</a>
                    <a class="dropdown-item" href="#">link2</a>
            </div>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" style="color: white;">
               Transactions
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">link1</a>
                <a class="dropdown-item" href="#">link1</a>
            </div>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" style="color: white;">
               Reports
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">link1</a>
                <a class="dropdown-item" href="#">link1</a>
            </div>

        </li>
    </ul>
    <form class="form-inline" style="margin-left: 300px">
        <input type="text" class="form-control" placeholder="search">
        <button type="submit" class="btn btn-lg"><i class="fa fa-search mr-lg-5" style="color: white"></i></button>
    </form>

    <a href="#" style="color: white;border-radius: 3px;font-size: large" class="ml-lg-5"><i class="fa fa-sign-out-alt mr-2" style="color: white;font-size: larger"></i>log_Out</a>
    <!--login /logout /profile /password-change link according to sec confi-->
    <div>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-end">
            <li class="nav-item dropdown" data-sec-authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-tie fa-lg"></i>&nbsp;&nbsp;
                    <span data-th-text="${#authentication.name}"></span>
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item dropdown-item btn btn-group-sm" href="/profile">
                        <i class="fas fa-user-cog"></i> &nbsp;Profile
                    </a>
                    <a class="dropdown-item dropdown-item btn btn-group-sm" href="/passwordChange">
                        <i class="fas fa-key "></i>&nbsp;Change Password</a>
                </div>
            </li>
            <li class="nav-item dropdown " data-sec-authorize="isAuthenticated()">
                <a href="/logout" class="nav-link"> <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Log
                                                                                       out</a>
            </li>
            <li class="nav-item dropdown " data-sec-authorize="!isAuthenticated()">
                <a href="/login" class="nav-link"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Login</a>
            </li>
        </ul>
    </div>

</nav>


</body >
</html >

