#loginBack {
    font-family:  'Roboto',sans-serif ;
    background-image: url('../img/z.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
 
}
.profile-image {
    margin: 70px auto 0;
    padding: 0;
 
}

#mod {
    background-color: black;
    opacity: .7;
    padding : 0 10px;
    border-radius:30px;
    border-block-end-width: thin;
    border-block-end-color: ;
    -webkit-border-radius:70px 0 70px 0;
    -webkit-box-shadow: 0px 4px 47px 5px #f37837;
    -moz-box-shadow: 0px 4px 47px 5px #f37837;
    box-shadow: 0px 4px 47px 5px #f37837;
}
.user-img img {
    height: 120px;
    width: 120px;
    margin-top: -60px;
    margin-bottom: 20px;
}

#password {
    margin-bottom: 2px;
    margin-top:6px;
    
}
.form-group input[type="text"],[type="password"] {
    
    background: transparent;
    border-bottom: 1px solid wheat;
    outline:none;
    height:40px;
    color: white;
    font-size: 16px;
    border-top:none;
    border-left: none;
    border-right: none;
    margin-left: 30px;
    
   
}
.form-group::before{
    font-family: 'Font Awesome\ 5 Free';
    content:"";
    position: absolute;
    left: 50px;
}
.form-input button{
    width:40%;
    margin : 10px 0 25px;


}
.btn-success{
    background-color: darkblue;
    font-size: 19px;
    font-style: normal;
font-weight: 900;
    border-radius:10px ;
    padding: 7px  14px;
    border: 1px solid black ;
}
.btn-success:hover{
    background-color:blue;
    border: 1px solid black ;
}
p {
    font-size: 40px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    font-style:italic;
    text-align: center;
    text-shadow: 2px 2px 5px red;
}
div{
    color: rgb(245, 248, 250);
    padding-top:;
    
}

.input-group-text{
    height: 42px;
    border-width: 5px;
    border-radius: 5px;
   
    
}


#btn1 {
    width:50%;
    margin : 10px 0 25px;
    
}
#btn1:hover{
    background-color: rgb(86, 204, 7);
}
#myTable{
    border-radius: 20px;

}