<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body style="background: beige;">
<div class="container-fluid">
    <div class="card " id="cv">
        <div class="card-body  ">
            <div class="row">
                <div class="col-md-4">
                    <img data-th-src="${'/img/logos/newlogo.jpg'}" height="150px" width="200px">
                </div>
                <div class="col-md-6 mt-3">
                    <p style="font-size:60px;color: #111111;text-align: center">WASITY INSTITUTE</p>
                    <p style="font-size: large;text-align: center">Gather to Learn</p>

                </div>
            </div>
        </div>
    </div>
    <div class="card-columns mt-5">
        <div class="card mt-4 shadow contact">
            <div class="card-body text-center" >
                <span><i class="fa fa-phone-alt mb-2 icon-1 justify-content-center align-items-center" ></i></span>
                <h5 class="card-title">CALL US</h5>
                <p>Fixed No: 0112488493 / 0112488494</p>
                <p>Mobile No: 0757727592 / 0754735104</p>
            </div>
        </div>
        <div class="card mt-4 shadow contact" >
            <div class="card-body text-center">
<span><i class="fa fa-map-marker icon-3 mb-2 justify-content-center align-items-center"></i></span>
                <h5 class="card-title">VISIT US</h5>
                <p>A1,Kandy road, Kiribathgoda</p>
            </div>
        </div>
        <div class="card mt-4 shadow contact" >
            <div class="card-body text-center">
                <span><i class="fa fa-envelope icon-2 mb-2 justify-content-center align-items-center"></i></span>
                <h5 class="card-title ">MAIL US</h5>
                <p>wasityinstedu.com</p>

            </div>
        </div>
        <div class="card mt-5 contact"  >
            <div class="card-body text-center">
           <span><i class="fa fa-users  icon-1 justify-content-center align-items-center"></i></span>
                <h5 class="card-title">FOLLOW US</h5>
                <span><i class="fab fa-facebook mr-3" id="fb"></i></span>
                <span><i class="fab fa-twitter mr-3" id="twi"></i></span>
                <span><img data-th-src="${'img/insta.png'}" height="50px" width="50px" style="margin-bottom: 20px"></span>


            </div>
        </div>
        <div class="card mt-4 shadow contact"  >
            <div class="card-body text-center">
                <span><i class="fab fa-whatsapp  icon-4 justify-content-center align-items-center"></i></span>
                <h5 class="card-title mt-2">WHATSAPP US</h5>
                <p>No.0755687879</p>


            </div>
        </div>

    </div>
    <div><p id="par" class="shadow mt-5">Feel free to contact us anytime</p></div>
</div>











<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>









