<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: headerFragment}" >


  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >

</head >


<body id="loginBack" >
<div class="container-fluid" id="loginPage" >
  <img src="../img/logos/newlogo.jpg" style="width:200px;height:150px;" id="logo" class="mt-4" >
  <p id="lgk" >Wasity Institute<br >Student Management
               System<br >LOGIN</p >


  <hr >
  <div class="modal-dialog text-center" >
    <div class="col-sm-9 profile-image " >
      <div class="modal-content" id="mod" >

        <div class="col-12 user-img" >
          <img th:src="@{img/user.png}" ></div >

        <div class="col-12 form-input" >

          <form class="was-validated" th:action="${'/login'}" method="post" >

            <div class="form-group" >
              <div style='text-align: left;color: white;' id="user" >User Name:</div >
              <div class="input-group" >
                <div class="input-group-prepend" >
                  <span class="" ><i class='fa fa-user' style='font-size:24px;color: white;' > </i ></span >

                  <input type="text" id="username" th:name="${'username'}" placeholder="username"
                         class="input-form" required="required" ></div >
              </div >


            </div >
            <div class="form-group" >
              <div style='text-align: left;color: white;' id="pw" >Password:</div >
              <div class="input-group" >
                <div class="input-group-prepend" >
                  <span class="" ><i class='fa fa-lock' style='font-size:24px;color: white;' ></i ></span >
                  <input type="password" id="inputPassword" th:name="${'password'}"
                         placeholder="password"
                         class="input-form" required="required" >

                </div >
              </div >
              <div class="row" >
                <div class="form-group form-check form-inline " style='margin-top: 6px;' >
                 <input class="form-check-input form-inline" name="remember-me" type="checkbox" >
                      <label class="form-check-label form-inline " >
                      Remember me
                  </label >
                </div >
              </div >

              <button type="sumbit" class="btn btn-success" id="btn" >Login</button >
              <br >

            </div >
              <div class="container-fluid " data-th-if="${param.error}">
                  <p class="bg-white text-capitalize text-danger text-lg-center">
                      Invalid username or password. </p>
              </div>
          </form >

        </div >
      </div >

    </div >
  </div >

</div >
<!--footer include-->
<div  data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div  data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >


</html >
