<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body style="padding-top: 80px">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card"   id="hd">
    <div class="card  text-white text-center" id="fh1">NEW PAYMENT</div>

</div>
<div class="container-fluid" id="frm">
    <div class="row"><div class="col-md-10"></div>
        <div class="col-sm-2"> <a href="/payment">
            <button class="btn btn-primary mt-1 "  id="bta"> <i class="fa fa-list"></i>&nbsp; Payment List</button>
        </a></div></div>

    <form action="/payment/save" data-th-object="${payment}" method="post" class="mt-4">
        <!--payment id-->
        <div class="form-row text-right" data-th-if="${addStatus==false}">
            <div class="col-md-4">
                <label data-th-for="${id}">Referance</label>
            </div>
            <div class="col-md-8">
                <label>
                    <input class="form-control" data-th-field="*{id}" readonly type="text">
                </label>
            </div>
        </div>
        <!-- discount Status-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${discountStatus}">Discount Status :</label>
            </div>
            <label class="col-md-4">

                    <input class="form-control" data-th-field="*{discountStatus}" required tabindex="4" type="text"/>

                <span data-th-errors="*{discountStatus}"
                      data-th-if="${#fields.hasErrors('discountStatus')}">Error Name</span>
            </label>
        </div>
        <!--amount-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${amount}">amount :</label>
            </div>
            <label class="col-md-4">
                <input class="form-control" data-th-field="*{amount}" required tabindex="4" type="text"/>
                <span data-th-errors="*{amount}"
                      data-th-if="${#fields.hasErrors('amount')}">Error Name</span>
            </label>
        </div>
        <!--time-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${createdTime}">Time :</label>
            </div>
            <label class="col-md-4">
                <input class="form-control" data-th-field="*{createdTime}" required tabindex="4" type="text"/>
                <span data-th-errors="*{createdTime}"
                      data-th-if="${#fields.hasErrors('createdTime')}">Error Name</span>
            </label>
        </div>
        <!--date-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${createdDate}">Date :</label>
            </div>
            <label class="col-md-4">
                <input class="form-control" data-th-field="*{createdDate}" required tabindex="4" type="text"/>
                <span data-th-errors="*{createdDate}"
                      data-th-if="${#fields.hasErrors('createdDate')}">Error Name</span>
            </label>
        </div>
        <!--created By-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${createdBy}">Created User :</label>
            </div>
            <label class="col-md-4">
                <input class="form-control" data-th-field="*{createdBy}" required tabindex="4" type="text"/>
                <span data-th-errors="*{createdBy}"
                      data-th-if="${#fields.hasErrors('createdBy')}">Error Name</span>
            </label>
        </div>

        <!--Button-->
        <div class="form-batch col-md-12 col-sm-12 text-center flex-column ">
            <button class="btn btn-success" tabindex="21" type="submit" id="bts">
                <i class="fa fa-save " style="font-size: 20px"></i>&nbsp; &nbsp;<span
                    data-th-text="${addStatus==true?'Save': 'Update'}"
                    id="submit"></span>
            </button>
            <button class="btn btn-danger mt-4 ml-lg-5 mb-lg-4 " type="reset" id="btr"><i class="fa fa-redo" style="font-size: 20px"></i>&nbsp;&nbsp; <span>Reset</span></button>
        </div>
    </form>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>