<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body style="padding-top: 80px">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card"   id="hd">
    <div class="card  text-white text-center" id="fh1">PAYMENT DETAILS</div>

</div>

<!--Payment detail-->
<div class="container-fluid" data-th-fragment="paymentDetail" id="frm">

    <div class="row" ><div class="col-md-8"></div>
        <div class="col-sm-2">
            <a href="/payment/new">
                <button class="btn btn-info mt-1 ml-5" id="bta">Create Payment</button>
            </a></div>
        <div class="col-sm-2">
            <a href="/payment">
                <button class="btn btn-primary mt-1" id="bta"> <i class="fa fa-list"></i>&nbsp; Payment List</button>
            </a></div></div>

    <!--payment id-->
    <form class="mt-4">
    <div class="form-row ">
        <div class="col-md-4 text-right">
       <label data-th-for="${id}">Id :</label></div>
        <div class="col-md-4">
        <p class="form-control" data-th-text="${paymentDetail.id}"></p>
    </div></div>
    <!--TranID-->
    <div class="form-row">
        <div class="col-md-4 text-right">
            <label data-th-for="${tranId}">TransactionID :</label></div>
        <div class="col-md-4">
        <p class="form-control" data-th-text="${paymentDetail.tranId}"></p>
        </div>
    </div>
    <!--discountStatus-->
    <div class="form-row ">
        <div class="col-md-4 text-right">
            <label class="control-label" data-th-for="${discountStatus}">Discount Status :</label>
        </div>
        <div class="col-md-4">
            <p class="form-control" data-th-text="${paymentDetail.discountStatus}"></p>
        </div>
    </div>
    <!--amount-->
    <div class="form-row ">
        <div class="col-md-4 text-right">
            <label class="control-label" data-th-for="${amount}">amount :</label>
        </div>
        <div class="col-md-4">
            <p class="form-control" data-th-text="${paymentDetail.amount}"></p>
        </div>
    </div>
    <!--time-->
    <div class="form-row ">
        <div class="col-md-4 text-right">
            <label class="control-label" data-th-for="${createdTime}">time :</label>
        </div>
        <div class="col-md-4">
            <p class="form-control" data-th-text="${paymentDetail.createdTime}"></p>
        </div>
    </div>
    <!--date-->
    <div class="form-row ">
        <div class="col-md-4 text-right">
            <label class="control-label" data-th-for="${createdDate}">date :</label>
        </div>
        <div class="col-md-4">
            <p class="form-control" data-th-text="${paymentDetail.createdDate}"></p>
        </div>
    </div>
    <!--createdBy-->
    <div class="form-row ">
        <div class="col-md-4 text-right">
            <label class="control-label" data-th-for="${createdBy}">createdBy :</label>
        </div>
        <div class="col-md-4">
            <p class="form-control" data-th-text="${paymentDetail.createdBy}"></p>
        </div>
    </div>
    </form>
</div>
<!--Button-->
<div class="form-payment col-md-12 col-sm-12 text-center flex-column ">
    <a href="/payment">
        <button class="btn btn-success" tabindex="21" type="submit" id="bts">
            Back
        </button>
    </a>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>