<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body style="padding-top: 80px">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card"   id="hd">
    <div class="card  text-white text-center" id="fh1">NEW BATCH</div>
</div>

<div class="container-fluid " id="frm">
    <div class="row"><div class="col-md-10"></div>
        <div class="col-sm-2 mt-1" ><a href="/batch">
            <button class="btn btn-primary" id="bta"> <i class="fa fa-list"></i>&nbsp; Batch List</button>
        </a>
        </div>
    </div>
    <form action="/batch/save" data-th-object="${batch}" method="post">
        <!--batch id-->
        <div class="form-row text-right mt-4" data-th-if="${addStatus==false}">
            <div class="col-md-4 col-sm-6">
                <label data-th-for="${id}" class="control-label"><b>Id :</b></label>
            </div>

                <label class="col-md-4  col-sm-6 ">
                    <input class="form-control" data-th-field="*{id}" readonly type="text">
                </label>


        </div>
        <!-- Class Reference-->
        <div class="form-row text-right   ">
            <div class="col-md-4 col-sm-6">
                <label class="control-label mt-1" data-th-for="${classReferance}"><b>Class Referance :</b></label>
            </div>

                <label class="col-md-4  col-sm-6 ">
                    <input class="form-control" data-th-field="*{classReferance}" required tabindex="4" type="text"/>

                <span data-th-errors="*{classReferance}"
                      data-th-if="${#fields.hasErrors('classReferance')}">Error Name</span>
                </label>
        </div>
        <!--Grade-->
        <div class="form-row text-right ">
            <div class="col-md-4 col-sm-6">
                <label class="control-label mt-1" data-th-for="${grade}"><b>Grade :</b></label>
            </div>
            <label class="col-md-4 col-sm-6 ">
                <input class="form-control " data-th-field="*{grade}" required tabindex="4" type="text"/>
            </label>
                <span data-th-errors="*{grade}"
                      data-th-if="${#fields.hasErrors('grade')}">Error Name</span>

        </div>
        <!--Year-->
        <div class="form-row text-right">
            <div class="col-md-4 col-sm-6">
                <label class="control-label mt-1" data-th-for="${year}"><b>Year :</b></label>
            </div>
            <label class="col-md-4 col-sm-6 ">
                <input class="form-control" data-th-field="*{year}" required tabindex="4" type="text"/>
                <span data-th-errors="*{year}"
                      data-th-if="${#fields.hasErrors('year')}">Error Name</span>
            </label>
        </div>
        <!--Subject Name-->
        <div class="form-row text-right">
            <div class="col-md-4 col-sm-6">
                <label class="control-label mt-1"  data-th-for="${subjectName}"><b>Subject Name :</b></label>
            </div>
            <label class="col-md-4 col-sm-6">
                <input class="form-control" data-th-field="*{subjectName}" required tabindex="4" type="text"/>
                <span data-th-errors="*{subjectName}"
                      data-th-if="${#fields.hasErrors('subjectName')}">Error Name</span>
            </label>
        </div>
        <!--Teacher Name-->
        <div class="form-row text-right">
            <div class="col-md-4 col-sm-6">
                <label class="control-label mt-1" data-th-for="${teacherName}"><b>Teacher Name :</b></label>
            </div>
            <label class="col-md-4 col-sm-6">
                <input class="form-control" data-th-field="*{teacherName}" required tabindex="4" type="text"/>
                <span data-th-errors="*{teacherName}"
                      data-th-if="${#fields.hasErrors('teacherName')}">Error Name</span>
            </label>
        </div>

        <!--Button-->
        <div class="form-batch col-md-12 col-sm-10 text-center flex-column " >
            <button class="btn btn-success " tabindex="21" type="submit" id="bts">
                <i class="fa fa-save " style="font-size: 20px"></i>&nbsp; &nbsp;<span
                    data-th-text="${addStatus==true?'Save': 'Update'}"
                    id="submit"></span>
            </button>
            <button class="btn btn-danger mt-4 ml-lg-5 mb-lg-4 " type="reset" id="btr">reset</button>
        </div>
    </form>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>