<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row" id="hd">
    <div class="col-4">

    </div>
    <div class="col-4">
        <h1 id="fh1">Batch Management</h1>
    </div>
    <div class="col-4"></div>
</div>

<div class="container-fluid table-responsive">
    <div class="row"><div class="col-md-10"></div>
        <a href="/subject/new">
            <div class="col-sm-2"><button class="btn btn-primary mt-1 " id="bta">New Subject</button></div>
        </a></div>
    <table class="table table-dark table-hover  table-inverse table-responsive-sm text-center mt-3" id="myTable">
        <thead class="thead-inverse">
        <tr>
            <th>Index</th>
            <th>Class Referance</th>
            <th>Year</th>
            <th>Grade</th>
            <th>Subject Name</th>
            <th>Teacher Name</th>
            <th>Modify</th>

        </tr>
        </thead>
        <tbody>
        <tr data-th-each="batch, index : ${batchs }">
            <td data-th-text="${index.count}"></td>
            <td data-th-text="${batch.classReferance}"></td>
            <td data-th-text="${batch.year}"></td>
            <td data-th-text="${batch.grade}"></td>
            <td data-th-text="${batch.subjectName}"></td>
            <td data-th-text="${batch.teacherName}"></td>


            <td>
                <a data-th-href="${'/batch/view/'+ batch.id}"><button class="btn btn-info" style="width: 25%;border-radius: 12px;">View</button></a>
                <a data-th-href="${'/batch/edit/'+ batch.id}"><button class="btn btn-success ml-4" style="width: 25%;border-radius: 12px;">Edit</button></a>
                <a data-th-href="${'/batch/delete/'+ batch.id}"><button class="btn btn-danger ml-4" style="width: 25%;border-radius: 12px;">Delete</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>