<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body style="padding-top: 70px">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card"   id="hd">
    <div class="card  text-white text-center" id="fh1"> BATCH DETAILS</div>
</div>

<!--Batch detail-->
<div class="container-fluid" data-th-fragment="batchDetail" id="frm">
    <div class="row"><div class="col-md-8"></div>
        <div class="col-sm-2">
            <a href="/batch/new">
                <button class="btn btn-info mt-1 ml-5" id="bta">New batch</button>
            </a></div>
        <div class="col-sm-2">
            <a href="/batch">
                <button class="btn btn-primary mt-1" id="bta"> <i class="fa fa-list"></i>&nbsp; Batch List</button>
            </a></div></div>
    <!--Class Referance-->
    <div class="form-row text-right mt-4">
        <div class="col-md-4">
            <label class="control-label mt-1" data-th-for="${classReferance}"><b>Class Referance :</b></label>
        </div>
        <div class="col-md-4">
            <p class="form-control" data-th-text="${batchDetail.classReferance}" style="text-align:left;"></p>
        </div>
    </div>
    <!--Grade-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label mt-1" data-th-for="${grade}"><b>Grade :</b></label>
        </div>
        <div class="col-md-4">
            <p class="form-control" data-th-text="${batchDetail.grade}" style="text-align:left;"></p>
        </div>
    </div>
    <!--Year-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label mt-1" data-th-for="${year}"><b>year :</b></label>
        </div>
        <div class="col-md-4">
            <p class="form-control" data-th-text="${batchDetail.year}"  style="text-align:left;"></p>
        </div>
    </div>
    <!--Teacher-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label" mt-1 data-th-for="${teacherName}"><b>Teacher Name :</b></label>
        </div>
        <div class="col-md-4">
            <p class="form-control" data-th-text="${batchDetail.teacherName}"  style="text-align:left;"></p>
        </div>
    </div>


</div>
<!--Button-->
<div class="form-batch col-md-12 col-sm-12 text-center flex-column ">
    <a href="/batch">
        <button class="btn btn-success" tabindex="21" type="submit" id="bts">
            Back
        </button>
    </a>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>