<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Success TimeTable Management</title>
</head>
<body style="padding-top: 80px">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card"   id="hd">
    <div class="card  text-white text-center" id="fh1">TIMETABLE LIST</div>

</div>

<div class="container-fluid" id="frm">
    <div class="row"><div class="col-md-10"></div>
        <a href="/timeTable/new">
            <div class="col-sm-2"><button class="btn btn-primary mt-1 " id="bta">New Timetable</button></div>
        </a></div>
    <table class="table table-hover table-inverse table-responsive-sm table-dark text-center" id="myTable">
        <thead class="thead-inverse">
        <tr>
            <th>

            </th>
            <th>Session Index</th>
            <th>Date</th>
            <th>Time</th>
            <th>Teacher</th>

            <th>Modify</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="timeTable, index : ${timeTables}">
            <td data-th-text="${index.count}"></td>
            <td data-th-text="${timeTable.date}"></td>
            <td data-th-text="${timeTable.time}"></td>
            <td data-th-text="${timeTable.teacher}"></td>
            <td data-th-text="${timeTable.hallNumber}"></td>
            <td>
                <a data-th-href="${'/timeTable/view/'+ timeTable.id}"><button class="btn btn-info" style="width: 15%;border-radius: 12px;">View</button></a>
                <a data-th-href="${'/timeTable/edit/'+ timeTable.id}"><button class="btn btn-success ml-4" style="width: 15%;border-radius: 12px;"><i class="fa fa-edit"></i>&nbsp;Update</button></a>
                <a data-th-href="${'/timeTable/delete/'+ timeTable.id}"><button class="btn btn-danger ml-4" style="width: 15%;border-radius: 12px;"><i class="fa fa-trash"></i>&nbsp;Delete</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>